#allsites {
  padding: 0px;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  .content {
    margin: auto;
    animation: flip-in-hor-top 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
      0.5s;
  }

  h2 {
    font-variant: small-caps;
    width: 100%;
    text-align: right;
  }
  ul {
    list-style: none;
    background-color: var(--color1c);
    border-left: 1px white double;
    padding: 20px;
    width: 100%;

    li {
      font-family: var(--body2);
      text-transform: capitalize;
      font-weight: 200;
    }
  }
  svg {
    .bg,
    .leaves1,
    .leaves2 {
      opacity: 0.85;
    }
  }
}
