.btn {
  
  $btn-font: "contralto-medium", sans-serif;
  $btn-height: 75px;
  font-family: var(--btn-font);
  border-radius: 0;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border-radius: 1%;
    transition: 500ms;
  }
}
.btn-primary {
  background-color: var(--bs-primary);
  &:hover {
    background-color: var(--color1b);
  }
}
.btn-secondary {
  background-color: var(--bs-secondary);
  &:hover {
    background-color: var(--color2c);
  }
}
.btn-tertiary {
  background-color: transperant;
  &:hover {
    background-color: var(--color3);
  }
}
.btn-success {
  background-color: var(--bs-success);
}
.btn-danger {
  background-color: var(--bs-danger);
}
.btn-warning {
  background-color: var(--bs-warning);
}
.btn-info {
  background-color: var(--bs-info);
}
.btn-light {
  background-color: var(--bs-light);
}
.btn-dark {
  background-color: var(--bs-dark);
}
