.card {
	position: relative;
	height: 400px;
	width: 100%;
	margin: 10px 0;
	transition: all 1000ms;
	perspective: 1200px;
	&:hover {
		.cover {
			transform: rotateX(0deg) rotateY(-180deg);
			&:before {
				transform: translateZ(30deg);
			}
			&:after {
				background-color: black;
			}
			h1 {
				transform: translateZ(100deg);
			}
			.price {
				transform: translateZ(60deg);
			}
			a {
				transform: translateZ(-60px) rotatey(-180deg);
			}
		}
	}
	.cover {
		position: absolute;
		height: 100%;
		width: 100%;
		transform-style: preserve-3d;
		transition: all 1500ms;
		background-color: $color5c;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before {
			content: "";
			position: absolute;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			transition: all 1500ms;
			transform-style: preserve-3d;
			transform: translateZ(0deg);
		}
		&:after {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 2;
			transition: all 1.3s;
			background-color: rgba(0, 0, 0, 0.4);
		}
		h1 {
			font-weight: 600;
			position: absolute;
			transform: translate(-50%, -50%, -40px);
			bottom: 50%;
			left: 50%;
			color: white;
			transform-style: preserve-3d;
			transition: all 1500ms;
			z-index: 3;
			font-size: 3em;
		}
		.price {
			font-weight: 200;
			position: absolute;
			transform: translate(-50%, -50%);
			bottom: 50%;
			left: 50%;
			color: white;
			transform-style: preserve-3d;
			transition: all 1500ms;
			z-index: 4;
			font-size: 2em;
			transform: translateZ(0px);
		}
	}
	.card-back {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: #0b0f08;
		transform-style: preserve-3d;
		transition: all 1500ms;
		transform: translateZ(-1px);
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			transform-style: preserve-3d;
			transition: all 500ms ease-in-out;
			transform: translateZ(-1px) rotatey(-180deg);
			background-color: transparent;
			font-weight: 200;
			color: white;
			padding: 10px;
			outline: none;
			text-decoration: none;
			&:hover {
				background-color: #c93849;
				color: #fafafa;
			}
		}
	}
}
