@import url("https://use.typekit.net/wqa0llu.css");
/* variable fonts */
@import url("https://use.typekit.net/bmw4zvq.css");

$background: #211e24;
$text: #fff6c9;
$background-alt: #211e24;
$text-alt: #fff6c9;

$color1: #370563;
$color1a: #ceb6e3;
$color1b: #aa95bd;
$color1c: #655673;
$color1d: #270d40;

$color2: #e6cb45;
$color2a: #c7ba77;
$color2b: #ccaa00;
$color2c: #7a6c26;
$color2d: #383110;

$color3: #c93849;
$color3a: #ffc4cb;
$color3b: #9e6269;
$color3c: #70212a;
$color3d: #3d1116;

$color4: #f2e6aa;
$color5: #b59dc9;

$bs-primary: #370563;
$bs-secondary: #e6cb45;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f2f2f2;
$bs-dark: #212529;


body {
  background-color: $background;
  font-size: calc(16px + 0.390625vw);
  line-height: 1.3em;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
