.listgroup {
    list-style: none;
    padding-left: 0px;
    background-color: none;
    flex-wrap: wrap;
    .col {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        background-color: none;
    }
}

.listgroup .col .row {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    background-color: none;
}

.listgroup 

.listgroup ul li {
    width: 100%;
    padding-left: 0px;
    background-color: none;
}

.listgroup h2 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/* sublists */


.listgroup h3 {
    width: 100%;
    text-align: center;
    font-family: "source-code-variable", monotype;
    font-variation-settings: "wght" 200;
    font-size: 1.125rem;
    padding: 10px;
}

.listgroup ul li ul {
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.listgroup ul li ul li {
    opacity: 0;
    font-family: "source-code-variable", monotype;
    font-variation-settings: "wght" 400;
}

.listgroup ul li:hover ul li {
    opacity: 1;
    font-family: "source-code-variable", monotype;
    font-variation-settings: "wght" 400;
}

/* bootstrap list groups */

.list-group li {
    background-color: none;
}