h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings);
    color: var(--text-light);
    animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

/* h1 - h3 */

h1 {
    font-size: var(--h1-size);
    font-variant: small-caps;
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

/* h4 - h6 */

h4 {
    font-size: var(--h4-size);
    font-weight: 100;
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

/*display headings*/

.display-1 {
    font-size: var(--display1-size);
}

.display-2 {
    font-size: var(--display2-size);
}

.display-3 {
    font-size: var(--display3-size);
}

.display-4 {
    font-size: var(--display4-size);
}

p,
.body1,
.body1 p {
    font-family: var(--body1);
    font-variation-settings: var(--body1-var);
    font-size: 1rem;
    line-height: 1.3em;
    color: var(--text-light);
}

.body2,
.body2 p {
    font-size: 1.33rem;
    font-family: var(--body2);
    font-weight: 200;
    line-height: 1.3em;
    color: var(--text-light);
    letter-spacing: .01em;
}

.body2.lead,
.body2 .lead {
    font-size: 1.618rem;
    font-weight: 500;
    letter-spacing: .015em;
    font-family: "contralto-medium", serif;
}

.caption,
.caption p {
    padding: 10px 0;
    font-weight: 500;
    font-family: var(--body1);
    color: var(--text-light);
}

.accent,
.accent p {
    padding: 5px 0;
    font-size: 1.125rem;
    letter-spacing: .015em;
    font-family: "contralto-medium", serif;
    color: var(--text-light);
}

#list-tab {
    list-style: none;
}

ol li,
ul li {
    font-family: var(--body1);
    color: var(--text-light);
}


/* BLOCKQUOTES */

.quote {
    padding: 20px 40px;
    width: 600px;
    margin: auto;
    border-left: 2px solid var(--text-alt);
}

blockquote {
    display: flex;
    align-items: flex-end;
}

blockquote p {
    position: relative;
    font-size: 1.618rem;
    font-weight: 400;
    letter-spacing: .015em;
    font-family: "contralto-medium", serif;
    margin-bottom: 0;
    padding: 0 5px;
}

figcaption {
    padding: 10px 0;
    font-family: var(--body1);
    font-size: 1rem;
    font-variation-settings: 'wght' 250;
    line-height: 1.3em;
    text-align: left;
    color: #fff;
    opacity: .6;
}

figure figcaption cite {
    font-family: var(--body1);
    font-variation-settings: 'wght' 450;
    line-height: 1.3em;
}

.quote-dropcap {
    display: inline-block;
    height: 5rem;
}

.footnote h2 {
    font-size: 1.618rem;
}

.footnote {
    font-size: .78rem
}