//  ========= TYPOGRAPHY
@import "https://use.typekit.net/qxm4hdp.css";
@import "sass/typography.scss";

$bc-sklonar: "bc-sklonar", sans-serif;
$sirenne: "sirenne-six-mvb", serif;
$sirenne-caps: "sirenne-six-mvb-roman-small", serif;
$elizabethan: "p22-elizabethan", sans-serif;

// =========== COLORS
@import "sass/colors.scss";
$black-russian: #15001f;
$gulf-blue: #030f4a;
$violent-violet: #290957;
$red-devil: #870014;
$chenin: #ded47a;
$citrine-white: #f7f7cd;
$half-and-half: #fffee3;
$white-lilac: #fcfaff;

// body {
//   background-color: $black-russian;
//   color: $white-lilac;
// }

// BOOTSTRAP
// 1. functions first
@import "/node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here - redefine variables not dependent on anything else

// global variables
$enable-negative-margins: true;
$enable-smooth-scroll: true;

// theme color variables
$primary: $violent-violet;
$secondary: $chenin;
$light: $citrine-white;
$dark: $black-russian;
$success: #117245;
$info: $gulf-blue;
$warning: $chenin;
$danger: $red-devil;

$border-color: $primary;

// font family
$font-family-base: $bc-sklonar;
$font-family-serif: $sirenne;
// $font-family-sans-serif: ;
$font-family-monospace: $bc-sklonar;
// $font-family-code: ;
$headings-font-family: $sirenne-caps;
$display-font-family: $sirenne;
$input-btn-font-family: $bc-sklonar;
$btn-font-family: $sirenne;
$input-font-family: $bc-sklonar;
$form-select-font-family: $bc-sklonar;

// font sizes
$font-size-base: 1rem;
$lead-font-size: $font-size-base * 1.618;

// headings
$headings-font-style: null !default;
$headings-font-weight: 400;
$headings-line-height: 1.5;
$headings-color: inherit !default;

$h1-font-size: $font-size-base * 7;
$h2-font-size: $font-size-base * 3.26;
$h3-font-size: $font-size-base * 2.62;
$h4-font-size: $font-size-base * 1.618;
$h5-font-size: $font-size-base * 1.33;
$h6-font-size: $font-size-base * 1.1;


// links
$link-color: $secondary;
$link-decoration: none;
$link-hover-decoration: underline;
$link-shade-percentage: 30%;
$link-hover-color: shift-color($link-color, -$link-shade-percentage);

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 787px,
  lg: 1024px,
  xl: 1360px,
  xxl: 1600px,
);

// headings
$heading-size: (
  h1: 4.23rem,
  h2: 2.62rem,
  h3: 1.618rem,
  h4: 1.33rem,
  h5: 1.25rem,
  h6: 1rem,
);

// spacers
$spacer: 1.5rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
);

// borders
// $border-width: 3px;
$border-widths: (
  1: 1px,
  2: 3px,
  3: 5px,
  4: 7px,
  5: 9px,
);

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// add colors to theme
$custom-colors: (
  "tertiary": $red-devil,
  "quaternary": $gulf-blue,
  "quininary": $black-russian
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// // remove colors from theme
// $theme-colors: map-remove($theme-colors, "danger");

// add classes for color pallette colors
@each $color, $val in $colors {
  .bg-#{$color} {
    background-color: $val;
  }
  .bg-#{$color}-light {
    background-color: tint-color($val, 80%);
  }
  .bg-#{$color}-dark {
    background-color: shade-color($val, 30%);
  }
  .text-#{$color} {
    color: $val;
  }
  .text-#{$color}-light {
    color: tint-color($val, 80%);
  }
  .text-#{$color}-dark {
    color: shade-color($val, 30%);
  }
}


// $display-font-sizes: map-merge($custom-display-font-sizes, $display-font-sizes);

// 5. Include remainder of required parts
@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/utilities";
// ???? @import "/node_modules/bootstrap/scss/root";

// 6. Include any other optional stylesheet partials for layout & components
// ??? @import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/tables";
@import "/node_modules/bootstrap/scss/forms";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/transitions";
@import "/node_modules/bootstrap/scss/dropdown";
@import "/node_modules/bootstrap/scss/button-group";
@import "/node_modules/bootstrap/scss/nav";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/card";
@import "/node_modules/bootstrap/scss/accordion";
@import "/node_modules/bootstrap/scss/breadcrumb";
@import "/node_modules/bootstrap/scss/pagination";
@import "/node_modules/bootstrap/scss/badge";
@import "/node_modules/bootstrap/scss/alert";
@import "/node_modules/bootstrap/scss/progress";
@import "/node_modules/bootstrap/scss/list-group";
@import "/node_modules/bootstrap/scss/close";
@import "/node_modules/bootstrap/scss/toasts";
@import "/node_modules/bootstrap/scss/modal";
@import "/node_modules/bootstrap/scss/tooltip";
@import "/node_modules/bootstrap/scss/popover";
@import "/node_modules/bootstrap/scss/carousel";
@import "/node_modules/bootstrap/scss/spinners";
@import "/node_modules/bootstrap/scss/offcanvas";
@import "/node_modules/bootstrap/scss/placeholders";

// helpers
@import "/node_modules/bootstrap/scss/helpers";

// adding utilities
$custom-utilities: (
  "opacity": (
    property: opacity,
    class: o,
    state: hover,
    values: (
      0: 0,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
$utilities: map-merge($utilities, $custom-utilities);

// modifying utilities
$modified-utilities: (
  "border-bottom": (
    property: border-bottom,
    values: (
      null: $border-width dashed $border-color,
      0: 0,
    ),
  ),
  "display":
    map-merge(
      map-get($utilities, "display"),
      (
        class: dis,
      )
    ),
);

$utilities: map-merge($utilities, $modified-utilities);

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "/node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
// @import "sass/color-mode-toggle";
// @import "sass/headings";
h1 { font-family: $elizabethan; }


// @import "sass/theatrum-scroll";
.tm-scroll {
	.screen {
		z-index: 999;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		pointer-events: none;
		user-select: none;

		.panel {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transform-origin: bottom;
			background-color: pink;
		}
	}
	.scrollContainer {
		section {
			position: relative;
			height: 100vh;
			width: 100%;
			display: grid;
			place-items: center;
			background-color: black;
			color: white;
		}
		.hero-container {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 90%;
			transform: translate(-50%, -50%);
			filter: saturate(0) brightness(83%);
			img {
				height: 100%;
			}
		}

		.title-container {
			z-index: 999;
			position: relative;
			color: white;
			mix-blend-mode: difference;
		}

		h1 {
			// font-family: "Nova Flat", cursive;
			font-size: 14.5vw;
			// text-align: center;
			user-select: none;
		}
		h2 {
			font-size: 8vw;
		}
		p {
			max-width: clamp(500px, 90%, 720px);
			margin: 0 auto;
			line-height: 1.1;
			font-size: clamp(20px, 4.4vw, 50px);
			text-align: center;
			user-select: none;
		}

		.JL {
			z-index: 999;
			position: absolute;
			top: 19.5%;
			// font-size: 7vw;
			// letter-spacing: 35px;
			text-align: center;
			user-select: none;
		}

		.img-container {
			position: relative;
			height: 95%;
			width: 100%;
			overflow: hidden;
			// filter: saturate(0);

			.mask {
				z-index: 999;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				height: 100%;
				width: 100%;
				background-color: black;
				transform-origin: bottom;
			}

			.img {
				height: 100%;
				width: 100%;
				background-image: url("https://images.pexels.com/photos/2443590/pexels-photo-2443590.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}
@import "/node_modules/locomotive-scroll/src/locomotive-scroll.scss";

@import "sass/jennings-heidelberg";
@import "sass/navbar";
@import "sass/theatrum-scroll";
@import "sass/parallax-grid-gallery";

// IMPORT WHOLE BOOTSTRAP LIBRARY?
// @import "/node_modules/bootstrap/scss/bootstrap";

// body {
  // background-color: black;
  // color: white;
  // font-family: "bc-sklonar", sans-serif;
  // margin: 0;
// }

// .fullscreen {
  // height: 100vh;
  // background: grey;
  // display: flex;
  // align-items: center;
  // padding-left: 10vw;
  // font-size: 8vw;
// }

// .dark {
  // background: #333;
  // color: #ccc;
// }

// .light {
  // background: #ccc;
// }

// .pink {
  // background: #fcf;
// }
/*# sourceMappingURL=index.css.map */