/* showtime: https://colordesigner.io/color-palette-builder#15001F-09154f-290957-870014-ded47a-fcfaff-fffee3-f7f7cd */
export {

$black-russian: #15001f;
$gulf-blue: #030f4a;
$violent-violet: #290957;
$red-devil: #870014;
$chenin: #ded47a;
$citrine-white: #f7f7cd;
$half-and-half: #fffee3;
$white-lilac: #fcfaff;

$white: 	$half-and-half;
$black: 	$black-russian;

$blue:      $gulf-blue;
$indigo: 	#09154f;
$purple:    $violent-violet;
$pink:      #ff5252;
$red: 		$red-devil;
$orange: 	#bf7513;
$yellow: 	#dbac2a;
$green: 	#032603;
$teal:      #20c997;
$cyan:      #17a2b8;
$gray:      #BAB1AD;
$gray-dark: #403734;
} 