.pinQuote {
    blockquote {
    text-align:left;
    font-family: $sirenne;
    font-size: 1.33rem;
}
figcaption{
    font-family: $bc-sklonar;
    font-size: 1rem;
    text-align: right;
    margin-top: 0.5rem;
}
}