/* 
aside */

aside {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
}

#ci1 {
    background-image: url("https://placehold.co/600x400/655673/white");
    background-repeat: no-repeat;
    background-size: cover;
}

#ci1 {
    background-image: url("https://placehold.co/600x400/C93849/white");
    background-repeat: no-repeat;
    background-size: cover;
}

#ci1 {
    background-image: url("https://placehold.co/600x400/FFC4CB/white");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 30vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    justify-items: center;
    background-image: url("https://placehold.co/900300/655673/white");
    background-repeat: no-repeat;
    background-size: cover;

}

.hero h1 {
    margin: auto;
}

#home-cover {
    height: 100vh;
    display: flex;
}

#mvva ul {
    list-style: none;
    display: flex;
    padding: 0;
}

#mvva ul li {
    margin-left: 0;
    width: 20%;
}

#mvva ul li ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#mvva ul li ul li {
    width: 100%;
}

#myCarousel .carousel-item {
    height: 80vw;
}