/* BUTTONS */
:root {
    --btn-font: "contralto-medium", sans-serif;
    --btn-height: 75px;
}

/* === BUTTONS=== */
.btn {
    font-family: var(--btn-font);
    border-radius: 0;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    border-radius: 1%;
    transition: 500ms;
}

/* PRIMARY */
.btn-primary {
    background-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--color1b);
}

/* SECONDARY */
.btn-secondary {
    background-color: var(--bs-secondary);
}

.btn-secondary:hover {
    background-color: var(--color2c);
}

/* TERTIARY */
.btn-tertiary {
    background-color: transperant;
}

.btn-tertiary:hover {
    background-color: var(--color3);
}

/* UTITLITY */
.btn-success {
    background-color: var(--bs-success);
}

.btn-danger {
    background-color: var(--bs-danger);
}

.btn-warning {
    background-color: var(--bs-warning);
}

.btn-info {
    background-color: var(--bs-info);
}

.btn-light {
    background-color: var(--bs-light);
}

.btn-dark {
    background-color: var(--bs-dark);
}



.btn-main {
    transform: rotate(0deg);
    width: 6rem;
    height: 3rem;
    letter-spacing: 1px;
    color: white;
    font-size: 1.618rem;
    border-top: 2px wheat solid;
    border-bottom: 2px wheat solid;
    transition: 500ms 100ms;
}

.btn-main:hover {
    background-color: none;
    color: var(--color2);
    border-left: 2px wheat solid;
    border-right: 2px wheat solid;
    letter-spacing: 2px;
    width: 3rem;
    height: 6rem;
    transform: rotate(90deg);
}

.btn-main span {
    transform: rotate(0deg);
    transition: 500ms;
}

.btn-main:hover span {
    transform: rotate(-90deg);
}