@import url("https://use.typekit.net/qxm4hdp.css");


$bc-sklonar: "bc-sklonar",sans-serif;
$sirenne-six-mvb: "sirenne-six-mvb",serif;
$sirenne-six-mvb-roman-small: "sirenne-six-mvb-roman-small",serif;
$p22-elizabethan: "p22-elizabethan",sans-serif;


// @import url("/node_modules/locomotive-scroll/dist/locomotive-scroll.css");
	$height: 300px;
	$width: 300px;
	$space: 10px;

body {
  background-color: black;
  color: white;
    font-family: $bc-sklonar;
  margin: 0;
}
.fullscreen {
  height: 100vh;
  background: grey;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  font-size: 8vw;
  font-family: Kanit, sans-serif;
}
.dark {
  background: #333;
  color: #ccc;
}
.light {
  background: #ccc;
}
.pink {
  background: #fcf;
}


// /* SNIPPET CSS */
// :root {
//   --btt-height: 20vw;
//   --btt-width: 30vw;
// }
// .bttWrap {
//   visibility: hidden;
//   height: var(--btt-height);
//   position: fixed;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: var(--btt-width);
//   /*   overflow:hidden; */
// }

// .bttWrap img {
//   position: absolute;
//   height: var(--btt-height);
// }
// .link {
//   position: absolute;
//   width: var(--btt-width);
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   left: calc(var(--btt-width) * 0.25);
//   bottom: 0;
// }
// a {
//   font-size: 1.2rem;
//   width: calc(var(--btt-width) * 0.6);
//   color: #f60;
//   background: black;
//   text-align: right;
//   padding: 1vw 2vw;
//   border-radius: 0 calc(var(--btt-width) / 30) calc(var(--btt-width) / 30) 0;
// }

