/* PROJECT POPUPS */
.project {
    border: 2px solid white;
    padding: 1rem;
    margin: 1rem;
}

#box1{
    background-color: var(--color1);
}
#box2{
    background-color: var(--color2);
}
#box3{
    background-color: var(--color3);
}
#box4{
    background-color:var(--color4);
}
#box5{
    background-color: var(--color5);
}

.project .container div div {
    padding: 1rem;
}

#lax .container {
    background: url("../media/laxcover.png")
}

