.tk-ltc-pabst-oldstyle-swash { font-family: "ltc-pabst-oldstyle-swash",sans-serif; }
.tk-input-mono-compressed { font-family: "input-mono-compressed",monospace; }
.tk-input-mono { font-family: "input-mono",monospace; }
.tk-input-mono-condensed { font-family: "input-mono-condensed",monospace; }
.tk-input-mono-narrow { font-family: "input-mono-narrow",monospace; }
.tk-bc-sklonar { font-family: "bc-sklonar",sans-serif; }
.tk-sirenne-eighteen-mvb-swash-i { font-family: "sirenne-eighteen-mvb-swash-i",sans-serif; }
.tk-sirenne-seventytwo-mvb { font-family: "sirenne-seventytwo-mvb",serif; }
.tk-sirenne-six-mvb { font-family: "sirenne-six-mvb",serif; }
.tk-sirenne-six-mvb-roman-small { font-family: "sirenne-six-mvb-roman-small",serif; }
.tk-sirenne-text-mvb-roman-small { font-family: "sirenne-text-mvb-roman-small",serif; }
.tk-sirenne-text-mvb-swash-itali { font-family: "sirenne-text-mvb-swash-itali",serif; }
.tk-p22-elizabethan { font-family: "p22-elizabethan",sans-serif; }
.tk-cake-mono { font-family: "cake-mono",sans-serif; }
.tk-schmaltzy { font-family: "schmaltzy",sans-serif; }

