/* showtime: https://colordesigner.io/color-palette-builder#15001F-09154f-290957-870014-ded47a-fcfaff-fffee3-f7f7cd */
$black-russian: #15001f;
$gulf-blue: #030f4a;
$violent-violet: #290957;
$red-devil: #870014;
$chenin: #ded47a;
$citrine-white: #f7f7cd;
$half-and-half: #fffee3;
$white-lilac: #fcfaff;
