.tk-bc-sklonar { font-family: "bc-sklonar",sans-serif; }
.tk-sirenne-six-mvb { font-family: "sirenne-six-mvb",serif; }
.tk-sirenne-six-mvb-roman-small { font-family: "sirenne-six-mvb-roman-small",serif; }
.tk-p22-elizabethan { font-family: "p22-elizabethan",sans-serif; }