.sklonar {
  font-family: "bc-sklonar", sans-serif;
}
.sirenne {
  font-family: "sirenne-six-mvb", serif;
}
.sirenne-caps {
  font-family: "sirenne-six-mvb-roman-small", serif;
}
.elizabethan {
  font-family: "p22-elizabethan", sans-serif;
}

$bc-sklonar: "bc-sklonar", sans-serif;
$sirenne: "sirenne-six-mvb", serif;
$sirenne-caps: "sirenne-six-mvb-roman-small", serif;
$elizabethan: "p22-elizabethan", sans-serif;
